<h3>
  メニュー
</h3>
<p>
  <ul>
    <li><%= link_to_unless_current '概要', ttstatistics_path %></li>
    <li><%= link_to_unless_current '月ごとの集計', ttstatistics_stats_by_month_path  %></li>
    <li><%= link_to_unless_current '日ごとの集計', ttstatistics_stats_by_day_path %></li>
    <li><%= link_to_unless_current '日報', ttstatistics_daily_report_path + "/#{Time.current.strftime('%Y-%m-%d')}" %></li>
  </ul>
</p>
