<h3>
  メニュー
</h3>
<p>
  <ul>
    <li><%= link_to '概要', ttstatistics_path %></li>
    <li><%= link_to '月次の統計情報', ttstatistics_stats_by_month_path  %></li>
    <li><%= link_to '日次の統計情報', ttstatistics_stats_by_day_path %></li>
  </ul>
</p>
