#fullcalendar .fc-clear {
  clear: none;
}
.tt-event {
  background: #3A87AD;
  color: white;
  box-shadow: 5px 5px 2px rgba(0,0,0,.4);
}
.tt-event:hover {
  cursor: pointer;
}
.tt-event.ui-draggable-disabled {
  background: darkgrey;
}
.tt-event.ui-draggable-disabled:hover {
  cursor: normal;
}

.hidden {
  display: none;
}

#dialog .button {
  padding: initial;
}
#dialog input[type="submit"] {
  padding: 0.4em 1em;
  color: #090;
}
#dialog button.button span.ui-button-text {
  color: #009;
}
#dialog span.ui-button-text {
  color: #900;
}
