#fullcalendar .fc-clear {
  clear: none;
}
th.fc-sun {
    color: red;
    background-color: rgba(255, 127, 127, 0.25);
    }
td.fc-sun {
    background-color: rgba(255, 127, 127, 0.25);
    }

th.fc-sat {
    color: deepskyblue;
    background-color: rgba(127, 127, 255, 0.25);
    }
td.fc-sat {
    background-color: rgba(127, 127, 255, 0.25);
    }

.tt-event {
  background: #3A87AD;
  color: white;
  box-shadow: 5px 5px 2px rgba(0,0,0,.4);
}
.tt-event:hover {
  cursor: pointer;
}
.tt-event.ui-draggable-disabled {
  background: darkgrey;
}
.tt-event.ui-draggable-disabled:hover {
  cursor: normal;
}

.hidden {
  display: none;
}

#dialog .button {
  padding: initial;
}
#dialog .button.update {
  padding: 0.4em 1em;
  color: #090;
}
#dialog .button.cancel {
  color: #009;
}
#dialog .button.destroy {
  color: #900;
}

#flash_alert {
  background: url("../../../images/false.png") no-repeat scroll 15px 10px #ffdfdf;
  color: #9f0000;
  border-color: #cf9f9f;
}

#dialog label, input{
  display: block;
  float: left;
  margin-bottom: 10px;
}
#dialog label {
  width: 100px;
  text-align: right;
  padding-right: 15px;
}
#dialog legend label {
  width: 300px;
}
#dialog input#issue_subject{
  width: auto !important; 
}
#dialog br{
  clear: left;
}
