#fullcalendar .fc-clear {
  clear: none;
}
th.fc-sun {
    color: red;
    background-color: rgba(255, 127, 127, 0.25);
    }
td.fc-sun {
    background-color: rgba(255, 127, 127, 0.25);
    }
td.holiday {
    background-color: rgba(255, 127, 127, 0.25);
    }
th.fc-sat {
    color: deepskyblue;
    background-color: rgba(127, 127, 255, 0.25);
    }
td.fc-sat {
    background-color: rgba(127, 127, 255, 0.25);
    }

.tt-event {
  background: #3A87AD;
  color: white;
  box-shadow: 5px 5px 2px rgba(0,0,0,.4);
}
.not-sure {
  background: #AD3AAD;
}
.out-of-time {
  background: #DA3A3A;
}
.on-time {
  background: #DA873A;
}
.in-time {
  background: #3AAD87;
}
.closed {
  background: #a9a9a9;
}
.tt-event:hover {
  cursor: pointer;
}
.tt-event.ui-draggable-disabled {
  opacity: 0.4;
}
.tt-event.ui-draggable-disabled:hover {
  cursor: normal;
}

.hidden {
  display: none;
}

#dialog p {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

#dialog label {
  display: inline-block;
  margin-right: 1em;
  text-align: right;
}
#dialog form.edit_issue fieldset legend label {
  width: auto;
}
#dialog form.edit_issue fieldset legend label:hover {
  cursor: pointer;
  font-weight: bold;
}

#dialog form.edit_issue label{
  width: 5em;
}
#dialog form.new_issue label{
  width: 6em;
}
#dialog form.new_issue input#issue_subject{
  width: 70%;
}

#dialog form .slider_field {
  margin: 10px 0;
}

#dialog form #slider {
  display: inline-block;
  width: 150px;
  margin-left: 20px
}

#dialog .button {
  padding: initial;
}
#dialog .button.update, #dialog .button.create {
  padding: 0.4em 1em;
  color: #090;
}
#dialog .button.cancel {
  color: #009;
}
#dialog .button.destroy {
  color: #900;
}

#flash_alert {
  background: url("../../../images/false.png") no-repeat scroll 15px 10px #ffdfdf;
  color: #9f0000;
  border-color: #cf9f9f;
}

#description {
  margin-top: 10px;
  border: thin solid #999;
  padding: 5px;
}
#description .boxes {
  display: inline-block;
  width: 30px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
#description .description {
  display: inline-block;
  width: 18%;
}
